In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [96]:
def iso_country_codes(website_url):
    code_text = []
    url = requests.get(website_url)
    page = BeautifulSoup(url.text, 'lxml')
    wiki_table = page.find("div", class_= "plainlist")
    code_data = wiki_table.find_all(["span", "a"])
    for text in code_data:
        code_text.append(text.get_text())
    return code_text

In [30]:
def ioc_country_codes(website_url, header_name):
    # parse html; find table; find table rows
    url = requests.get(website_url)
    page = BeautifulSoup(url.text, 'lxml')
    header_id = page.find("span", id=header_name)
    wiki_table = header_id.parent.find_next_sibling("table", class_="wikitable")
    table_cells = wiki_table.find('td')
    table_rows = wiki_table.find_all("tr")
    # Iterate through rows and load text into a list
    results_table = []
    for row in table_rows:
        table_tags = row.find_all(["th", "td"])
        td = list(item.text for item in table_tags)
        results_table.append(td)
    results_df = pd.DataFrame(results_table)
    return results_df

In [97]:
website_url = "https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3"
table_data = iso_country_codes(website_url)

table_data[457] = "Taiwan, Province of China"

table_data.pop(458)

code_names = []
country_names = []
for elem in table_data:
    if len(elem) == 3:
        code_names.append(elem)
    else: 
        country_names.append(elem)

iso_code_list = list(zip(code_names, country_names))
iso_code_dataframe = pd.DataFrame(code_country_list)
iso_code_dataframe.columns = ["Alpha-3 code", "Country"]
iso_code_dataframe.to_csv("country-codes-alpha-3-only.csv")

In [109]:
website_url1 = "https://en.wikipedia.org/wiki/List_of_IOC_country_codes"
header_name1 = "Current_NOCs"
ioc_dataframe = ioc_country_codes(website_url1, header_name1)

ioc_dataframe.drop(3, axis=1, inplace=True)
ioc_dataframe.columns = ["IOC code", "Country", "Other codes used"]
ioc_dataframe.replace("\n", "", regex=True, inplace=True)
new_col = ioc_dataframe["Country"].str.split("[", 1, expand=True)
ioc_dataframe["Country"] = new_col[0]
ioc_dataframe.drop(0, inplace=True)
ioc_dataframe.reset_index(inplace=True)
ioc_dataframe.drop("index", axis=1, inplace=True)
ioc_dataframe.iloc[0].values[0] = ioc_dataframe.iloc[0].values[0].split("}")[1]

ioc_dataframe.to_csv("country-codes-ioc.csv")



ioc_dataframe

In [94]:
website_url1 = "https://en.wikipedia.org/wiki/List_of_IOC_country_codes"
header_name1 = "Current_NOCs"
ioc_dataframe = ioc_country_codes(website_url1, header_name1)

ioc_dataframe.drop(3, axis=1, inplace=True)
ioc_dataframe.columns = ["IOC code", "Country", "Other codes used"]
ioc_dataframe.replace("\n", "", regex=True, inplace=True)
ioc_dataframe.replace("\xa0", "", regex=True, inplace=True)
new_col = ioc_dataframe["Country"].str.split("[", 1, expand=True)
ioc_dataframe["Country"] = new_col[0]
ioc_dataframe.drop(0, inplace=True)
ioc_dataframe.reset_index(inplace=True)
ioc_dataframe.drop("index", axis=1, inplace=True)
ioc_dataframe.iloc[0].values[0] = ioc_dataframe.iloc[0].values[0].split("}")[1]

ioc_dataframe.to_csv("country-codes-ioc.csv")

,IOC code,Country,Other codes used
0,AFG,Afghanistan,
1,ALB,Albania,
2,ALG,Algeria,AGR (1964)AGL (1968 S) from Spanish Argelia
3,AND,Andorra,
4,ANG,Angola,ANO[5]
5,ANT,Antigua and Barbuda,
6,ARG,Argentina,
7,ARM,Armenia,
8,ARU,Aruba,
9,ASA,American Samoa,AMS[5]
10,AUS,Australia,
11,AUT,Austria,current code from French Autriche
12,AZE,Azerbaijan,
13,BAH,Bahamas,
14,BAN,Bangladesh,
15,BAR,Barbados,BAD (1964)
16,BDI,Burundi,
17,BEL,Belgium,
18,BEN,Benin,DAY (1964)DAH (1968–1976) as Dahomey
19,BER,Bermuda,
20,BHU,Bhutan,
21,BIH,Bosnia and Herzegovina,"BSH (1992 S), BOS[5]"
22,BIZ,Belize,HBR (1968–1972) as British Honduras Also BHO[5]
23,BLR,Belarus,
24,BOL,Bolivia,
25,BOT,Botswana,
26,BRA,Brazil,
27,BRN,Bahrain,BHR[5]
28,BRU,Brunei,
29,BUL,Bulgaria,
...,...,...,...
176,SUR,Suriname,
177,SVK,Slovakia,
178,SWE,Sweden,SVE (1956 W1960 S) from Italian SveziaSUE (196...
179,SWZ,Swaziland,
180,SYR,Syria,SIR (1968) from Spanish Siria
181,TAN,Tanzania,
182,TGA,Tonga,TON (1984)
183,THA,Thailand,
184,TJK,Tajikistan,
185,TKM,Turkmenistan,
186,TLS,East Timor,current code taken from Timor Leste
187,TOG,Togo,
188,TPE,Chinese Taipei,"RCF (1956–1960) as Republic of China, FormosaT..."
189,TTO,Trinidad and Tobago,TRT (1964–1968)TRI (1972–2012)
190,TUN,Tunisia,
191,TUR,Turkey,
192,TUV,Tuvalu,
193,UAE,United Arab Emirates,
194,UGA,Uganda,
195,UKR,Ukraine,
196,URU,Uruguay,URG (1968)
197,USA,United States,SUA (1960 S) from Italian Stati Uniti d'Americ...
198,UZB,Uzbekistan,
199,VAN,Vanuatu,
200,VEN,Venezuela,
201,VIE,Vietnam,VET (1964)VNM (1968–1976)
202,VIN,Saint Vincent and the Grenadines,
203,YEM,Yemen,
204,ZAM,Zambia,NRH (1964) as Northern Rhodesia
205,ZIM,Zimbabwe,RHO (1960–1972) as Rhodesia

In [111]:
!jupyter nbconvert --to script country-codes-scraping.ipynb

[NbConvertApp] Converting notebook country-codes-scraping.ipynb to script
[NbConvertApp] Writing 3271 bytes to country-codes-scraping.py